.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: 320px) and (max-width: 743px) {
		width: 100%;
		max-width: 100%;
	}

	.cardTotalSales {
		margin-top: 1.5rem;
		font-size: 1.5rem;
		font-weight: 700;
		background: linear-gradient(90deg, var(--blue), var(--red));
		color: transparent;
		background-clip: text;
	}
}
