.cardTable {
	width: 100%;
	grid-column: 1/3;

	@media (min-width: 320px) and (max-width: 743px) {
		width: 100%;
		max-width: 100%;
	}
	.tableContainer {
		overflow-x: auto;
		overflow-y: auto;
		width: 100%;
		height: calc(100vh - 50vh);
		max-height: calc(100vh - 50vh);
		.table {
			width: 100%;
			min-width: 1024px;
			border-collapse: collapse;
			.tableHead {
				background-color: white;
				position: sticky;
				top: 0;
				z-index: 1;
				border-left: 4px solid var(--blue);
				.thead {
					padding-inline-start: 1rem;
					padding-block: 0.7rem;
					text-align: left;
					font-weight: 600;
					font-size: 1rem;
					color: var(--dark-gray);
				}
			}

			.tableBody {
				.tr {
					height: 5rem;
					max-height: 5rem;
				}
				.tr:nth-child(odd) {
					border-left: 4px solid var(--blue);
				}
				.tr:nth-child(even) {
					border-left: 4px solid #afafaf;
				}
				.tr:hover {
					cursor: pointer;
					background-color: var(--light-gray);
				}
			}
			.td,
			.th {
				border: 1px solid #dddddd;
				text-align: left;
				padding-block: 1rem;
				border-left: none;
				border-right: none;
				gap: 0.5rem;
				.amountDetail {
					color: var(--blue);
					font-weight: 600;
					padding-bottom: 0.2rem;
					font-size: 1rem;
				}
				.deduction {
					color: var(--light-medium-gray);
					font-size: 0.8rem;
					padding-bottom: 0.2rem;
				}
				.deductionAmount {
					color: var(--red);
					font-size: 0.9rem;
					font-weight: 500;
				}
			}
			.transaction {
				display: flex;
				flex-direction: row;
				align-items: center;
				font-weight: 600;
				gap: 1rem;
				padding-inline-start: 1rem;
				color: var(--blue);
			}
			.paymentMethod {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0.8rem;
			}
		}
	}
}

.inputContainer {
	position: relative;
	width: 100%;
	/* .searchInput {
		width: 100%;
		
		font-family: var(--montserrat);
		} */
}

.inputContainer input {
	width: 100%;
	font-size: 1rem;
	font-weight: 500;
	color: var(--dark-gray);
	padding: 16px 10px 16px 40px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	font-family: var(--montserrat);
}

.inputContainer input:focus {
	border: 1px solid #ccc;
	outline: none;
}

.inputContainer .icon {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	pointer-events: none;
}
