.filterDefaultsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;

    .filterDefaultButton {
        font-weight: 600;
        overflow: hidden;
        color: var(--blue);
        padding: 0.8rem;
        width: 100%;
    }
    .filterDefaultButton:hover {
        border-radius: 1rem;
        overflow: hidden;
        background-color: var(--light-gray);
    }
}

.filterOptionsContainer{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    .filterButton {
        border-radius: .5rem;
        background-color: white;
        color: var(--blue);
        padding: 1rem 2.5rem;
        font-weight: 700;
        left: 0;
        -webkit-box-shadow: 3px 3px 14px -5px rgba(117, 117, 117, 0.75);
        -moz-box-shadow: 3px 3px 14px -5px rgba(117, 117, 117, 0.75);
        box-shadow: 3px 3px 14px -5px rgba(117, 117, 117, 0.75);
    }


    .filterOptions{
        display: flex;
        position: absolute;
        width: 100%;
        gap: 20px;
        max-width: 400px;
        flex-direction: column;
        padding: 2rem;
        background-color: white;
        border-radius: 1rem;
        -webkit-box-shadow: 3px 3px 14px -5px rgba(117, 117, 117, 0.75);
        -moz-box-shadow: 3px 3px 14px -5px rgba(117, 117, 117, 0.75);
        box-shadow: 3px 3px 14px -5px rgba(117, 117, 117, 0.75);
        .filterOptionsButton{
            padding: 1.5rem 3rem;
            background-color: var(--red);
        }
        .headerFilterOptions {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
        }
    }

    .showFilterOptions {
        -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
}



 @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  