:root {
	--blue: #121e6c;
	--red: #ee424e;
	--dark-red: #ac262f;
	--dark-gray: #606060;
	--light-medium-gray: #a1a1a1;
	--light-gray: #f3f3f3;
	--background: #f6f4f9;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-size: 16px;
	height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	background: var(--background);
}
