:root {
    --blue: #121E6C;
    --red: #EE424E;
    --dark-gray: #606060;
    --light-gray: #F3F3F3;
    --background: #F6F4F9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: var(--background)
}
