.dashboardContainer {
	display: grid;
	grid-template-columns: 30% auto;
	grid-template-rows: auto auto;
	gap: 1.5rem;
	padding: 5rem 4rem;
	.card {
		min-width: 320px;
		max-width: 580px;
		.cardTotalSales {
			margin-top: 1.5rem;
			font-size: 1.5rem;
			font-weight: 700;
			background: linear-gradient(90deg, var(--blue), var(--red));
			color: transparent;
			background-clip: text;
		}
	}
	.cardTable {
		width: 100%;
		grid-column: 1/3;
	}
}
