.dashboardContainer {
	display: grid;

	grid-template-columns: 2fr 4fr;
	grid-template-rows: auto auto;
	gap: 1.5rem;
	padding: 5rem 4rem;

	@media (min-width: 320px) and (max-width: 743px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2rem 1rem;
	}

	.card {
		min-width: 320px;
		max-width: 580px;
		@media (min-width: 320px) and (max-width: 743px) {
			width: 100%;
			max-width: 100%;
		}
		.cardTotalSales {
			margin-top: 1.5rem;
			font-size: 1.5rem;
			font-weight: 700;
			background: linear-gradient(90deg, var(--blue), var(--red));
			color: transparent;
			background-clip: text;
		}
	}
	.filters {
		@media (min-width: 320px) and (max-width: 743px) {
			width: 100%;
			max-width: 100%;
		}
	}
	.cardTable {
		width: 100%;
		grid-column: 1/3;

		@media (min-width: 320px) and (max-width: 743px) {
			width: 100%;
			max-width: 100%;
		}
	}
}
.layoutContainer {
	margin-top: 6rem;
}
